<h1>Data Science Tool and Ecosysyem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python 
2. Java 
3. SQL 
4. SAS
5. Scala

<B>Objectives:

- Python
- SQL
- Scala
- MATLAB

Some of the commonly used lybraries used by Data Scientists include:

1. Pandas 
2. Tenserflow
3. SciPy
4. Keras

|<h1>Data Science Tools |
|-------------------|
| Apache Hadoop     |
| RStudio           |
| Tensor Flow       |

<H3>Below are some a few example of evaluating arithmetic expressions in Python

In [11]:
print("This is a sample arithmetic expression to mutiply then add integers")

This is a sample arithmetic expression to mutiply then add integers

In [10]:
(3*4)+5

17

In [14]:
print("This will covert 200 minutes to hours by dividing 60")

This will covert 200 minutes to hours by dividing 60

In [41]:
(200*1)/60

3.3333333333333335

<H2>Author

Shamil Rahman M